body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, black, red, yellow);
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th {
    background-color: #000000;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}

img {
    width: 80px;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
