body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #74acdf, #ffffff, #74acdf);
    margin: 0;
    padding: 0;
    color: #000;
}

header {
    background-color: #74acdf;
    text-align: center;
    padding: 20px;
    color: white;
}

h1, h2 {
    text-align: center;
    color: #000;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

th {
    background-color: #f1c40f; /* dorado */
    color: #000;
    padding: 10px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

img {
    width: 100px;
    border-radius: 10px;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #74acdf;
    text-align: center;
    padding: 10px;
    color: white;
}
