body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ce1126, #006b3f); /* rojo - verde */
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fcd116; /* amarillo */
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #ce1126; /* rojo */
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

img {
    width: 100px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #006b3f; /* verde */
    color: white;
}
